body {
	background-color: #dfe9ef;
	color: #252b33;
	margin: 0 0 8px 0;
}

h2 {
	margin: 0;
	line-height: 1.250em;
	font-size: 1.000em;
	font-family: arial, sans-serif;
	font-weight: normal;
}
@media only screen and (min-width: 38.75em) {
	h2 {
		font-size: 1.875em;
	}
}

h3 {
	margin: 0;
	line-height: 1.250em;
	font-size: 0.900em;
	font-family: arial, sans-serif;
	font-weight: normal;
}
@media only screen and (min-width: 38.75em) {
	h2 {
		font-size: 1.500em;
	}
}

p {
	margin: 0em;
	line-height: 1.500em;
	font-size: 0.700em;
	font-family: arial, sans-serif;
}
@media only screen and (min-width: 38.75em) {
	p {
		font-size: 1.000em;
	}
}

ul.decimal {
	list-style-type: decimal;
}

ul {
	margin: 0 auto;
	padding: 0 0 0 65px;
	font-size: 0.700em;
	font-weight: normal;
	line-height: 1.500em;
	font-family: arial, sans-serif;
}
@media only screen and (min-width: 38.75em) {
	ul {
		font-size: 1.000em;
	}
}

.header {
	height: 88px;
	background-color: #252b33;
	color: #fff;
	text-align: center;
	font-size: 1.500em;
	font-family: arial, sans-serif;
}
@media only screen and (min-width: 38.75em) {
	.header {
		height: 165px;
		font-size: 2.500em;
	}
}

.header .subtitle {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	padding-right: 10%;
	font-size: 0.750em;
}
@media only screen and (min-width: 38.75em) {
	.header .subtitle {
		font-size: 0.750em;
	}
}

.header .wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.header .block {
	display: table-cell;
	width: 10%;
	vertical-align: middle;
	text-align: center;
}

.header .arrow {
	border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
}
@media only screen and (min-width: 38.75em) {
	.header .arrow {
		border-width: 0 3px 3px 0;
		padding: 5px;
	}
}

.header .left {
	transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.article {
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 0.500em;
}

.content {
	width: 80%;
	margin: 0 auto;
	padding-top: 0.500em;
}

.section {
	padding-top: 2.500em;
}

.background {
	padding-top: 2.500em;
	padding-bottom: 2.500em;
}

.white-background {
	background-color: #fff;
}

.transparent {
	background-color: transparent;
}

.content-header {
	color: #1f2229;
	text-transform: uppercase;
	font-size: 1.750em;
	font-weight: bold;
	padding-top: 0.800em;
}
@media only screen and (min-width: 38.75em) {
	.content-header {
		font-size: 1.750em;
		padding-top: 0.800em;
	}
}

.content-subheader {
	color: #1f2229;
	text-transform: uppercase;
	font-size: 1.250em;
	font-weight: bold;
	padding-top: 0.800em;
}
@media only screen and (min-width: 38.75em) {
	.content-subheader {
		font-size: 1.250em;
		padding-top: 0.800em;
	}
}

.content-text {
	color: #2a2f36;
	font-size: 0.800em;
	font-weight: normal;
	line-height: 1.500em;
}
@media only screen and (min-width: 38.75em) {
	.content-text {
		font-size: 1.000em;
		line-height: 1.500em;
	}
}

.content-text-code {
	margin-top: 8px;
	padding: 8px;
	color: #2a2f36;
	background-color: #f6f8fa;
	font-size: 0.600em;
	font-family: "Courier New", Courier, monospace;
	font-weight: normal;
	line-height: 1.500em;
}
@media only screen and (min-width: 38.75em) {
	.content-text-code {
		font-size: 0.800em;
		line-height: 1.500em;
	}
}

.content-image {
	max-width: 100%;
	display: block;
	margin: 0 auto;
	padding-top: 1.000em;
	padding-bottom: 1.000em;
}

.tabs4 {
	padding-left: 30px;
}

.tabs8 {
	padding-left: 60px;
}

.paragraph {
	padding-top: 0.800em;
}

.linkedin a {
	color: inherit;
	text-decoration: none;
}

.table {
	display: table;
}

.full-width {
	width: 100%;
}

.table-cell {
	display: table-cell;
}

.vertical-align-middle {
	vertical-align: middle;
}

.pad-1px-right {
	padding-right: 1px;
}

.linkedin {
	text-align: left;
	font-size: 0.750em;
	font-family: arial, sans-serif;
}
@media only screen and (min-width: 38.75em) {
	.linkedin {
		font-size: 0.875em;
	}
}

.copyright {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	font-size: 0.750em;
	font-family: arial, sans-serif;
}
@media only screen and (min-width: 38.75em) {
	.copyright {
		font-size: 0.875em;
	}
}