.two-photos {
	margin: 0 15px 0 15px;
}

.two-columns {
	width: 50%;
}

h3 {
	margin-bottom: 5px;
}

.alistair {
	width: 200px;
}

.duncan {
	width: 200px;
}

.ruth {
	width: 200px;
}

.kelly {
	width: 200px;
}

.angusandrebecca {
	width: 200px;
	/*padding-bottom: 17px;*/
}

.heather {
	width: 200px;
}

.grant {
	width: 200px;
}

.christopher {
	width: 200px;
}

.malcolm {
	width: 200px;
}